.colorful {
  width: 200px;
  height: 75px;
  background-color: #ff5733;
  color: white;
  font-family: verdana;
  margin: auto;
  margin-top: 200px;
  padding-top: 20px;
  text-align: center;
  transition: transform 2s ease-in;
}

.colorful:hover {
  transform: translate(500px, 200px);
  /*negative values make the oposite move* translate(x,y)/
  /*translate x moves horizontally right if the value if possitive, horzontally left if negative*/
  /*translate y moves vertically bottom if the value if possitive, top if negative*/
}
